AI Email Conversation – Reply to Response.json
{
  "name": "AI Email Conversation – Reply to Response",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        -64
      ],
      "id": "b290b74a-0967-4fce-b9b4-d20845e6a757",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "1U1CF7mzsZ6lakqh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -48,
        160
      ],
      "id": "759cc327-19d8-4e53-8d30-ea05852d22fd",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "GY8dJ5QCcCX6SqD5",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e86d1553-db73-4775-9d31-5dfaf9b80900",
              "leftValue": "={{ $('Gmail Trigger').item.json.Subject }}",
              "rightValue": "=Re:",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        -64
      ],
      "id": "d2789e4e-8213-4d59-8ffd-1ff3fa5c17d2",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "message": "={{ $('AI_Replyer').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        -64
      ],
      "id": "3e087540-437f-4024-a828-45e86a3a27ce",
      "name": "Reply to a message",
      "webhookId": "cd42fa2c-7a9f-4ce5-a3f4-3e6b018447b4",
      "credentials": {
        "gmailOAuth2": {
          "id": "1U1CF7mzsZ6lakqh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1F6pk7GQO3lxfugGRD7vuktyOdRcwzwCB00SesSZl414",
          "mode": "list",
          "cachedResultName": "newsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F6pk7GQO3lxfugGRD7vuktyOdRcwzwCB00SesSZl414/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F6pk7GQO3lxfugGRD7vuktyOdRcwzwCB00SesSZl414/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('On form submission').item.json.Name }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Message": "={{ $('On form submission').item.json.Message }}",
            "Ai content": "={{ $json.clean_content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ai content",
              "displayName": "Ai content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Property_type",
              "displayName": "Property_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead_Status",
              "displayName": "Lead_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thread_ID",
              "displayName": "Thread_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        368
      ],
      "id": "81db0e54-c5c9-4e83-8a92-67db648a1ae0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VRuTih8ZlBraHMm0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "AI Lead Auto Reply – Form to Email",
        "formDescription": "AI Lead Auto Reply – Form to Email",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -592,
        368
      ],
      "id": "c5395fae-ba81-42dd-a1db-b32be5e62af7",
      "name": "On form submission",
      "webhookId": "9808cb6c-5564-46ed-ac29-c99c84d05511"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "={{ $('On form submission').item.json.Message }}",
        "message": "={{ $('AI Agent1').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        368
      ],
      "id": "d9baca07-b204-45a4-8cc1-f34fc52193b3",
      "name": "Send a message",
      "webhookId": "d6497a03-a4f8-4cf7-9006-d50e6f72069c",
      "credentials": {
        "gmailOAuth2": {
          "id": "1U1CF7mzsZ6lakqh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {
          "maxTokensToSample": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -384,
        592
      ],
      "id": "11b200b7-22fa-4aaa-881f-31f115c9817e",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "GY8dJ5QCcCX6SqD5",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Message }}",
        "options": {
          "systemMessage": "=Role: You are a Professional Sales Assistant for Expert Property.\n\nObjective: Write a professional email reply to a new lead.\n\nLead Details:\n\nName: {{ $json.Name }}\n\nMessage: {{ $json.Message }} \n\nStrict Formatting Instructions:\n\nStart the email with: \"Dear {{ $json.Name }},\"\n\nUse a polite and helpful tone.\n\nProvide a clear answer or ask follow-up questions to help them better.\n\nCRITICAL: Do NOT include <html>, <body>, or <!DOCTYPE> tags. Only use <p> and <br> tags for spacing and paragraphs.\n\nSignature: End the email with:\n\n\n\nBest regards,\n\n\nExpert Property Team\n\nDo not write any conversational text before or after the email. Only output the final email body."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -368,
        368
      ],
      "id": "748f37d0-6eb9-426b-8362-48098bff0b7f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.threadId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        160
      ],
      "id": "ffcc602d-dc92-4b07-80ff-53baea60b6ce",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1F6pk7GQO3lxfugGRD7vuktyOdRcwzwCB00SesSZl414",
          "mode": "list",
          "cachedResultName": "newsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F6pk7GQO3lxfugGRD7vuktyOdRcwzwCB00SesSZl414/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F6pk7GQO3lxfugGRD7vuktyOdRcwzwCB00SesSZl414/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Edit Fields').item.json.Clean_Email }}",
            "City": "={{ $node[\"Ai_Extractor\"].json[\"output\"].match(/^City:\\s*(.*)$/m)?.[1]?.trim() || $node[\"Update row in sheet\"].json[\"City\"] }}",
            "Budget": "={{ $node[\"Ai_Extractor\"].json[\"output\"].match(/^Budget:\\s*(.*)$/m)?.[1]?.trim() || $node[\"Update row in sheet\"].json[\"Budget\"] }}",
            "Lead_Status": "={{ $node[\"Ai_Extractor\"].json[\"output\"].match(/Lead_Status:\\s*(.*)/)?.[1] || \"Interested\" }}",
            "Thread_ID": "={{ $('Gmail Trigger').item.json.threadId }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ai content",
              "displayName": "Ai content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Property_type",
              "displayName": "Property_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lead_Status",
              "displayName": "Lead_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thread_ID",
              "displayName": "Thread_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        -64
      ],
      "id": "18c01839-0d1a-4d1f-8486-8b8534ae57ca",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VRuTih8ZlBraHMm0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02332494-be7e-4246-bf18-8251a6b6263d",
              "name": "clean_content",
              "value": "={{ $json.output.replace(/<\\/?[^>]+(>|$)/g, \"\").replace(/&nbsp;/g, \" \").trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        368
      ],
      "id": "152174ea-2847-40ae-b297-8fc9af75d4b5",
      "name": "clean_content"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        400,
        160
      ],
      "id": "3f1a85d3-0234-46cd-a55d-1c5af88633ed",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "GY8dJ5QCcCX6SqD5",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "742c2344-b9dc-457c-87b8-ee4ec2cd73cf",
              "name": "Clean_Email",
              "value": "={{ $json.From.includes('<') ? $json.From.split('<')[1].split('>')[0] : $json.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -64
      ],
      "id": "9efc6d3a-3d6a-4437-bdf7-357a28be5a0f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: You are a specialized Data Extraction Assistant. Objective: Analyze the provided email:{{ $('Gmail Trigger').item.json.snippet }} message and extract City, Budget, Property_Type, and Lead_Status.\n\nStrict Instructions:\n\nExtraction: Only extract information that is explicitly mentioned in the email.\n\nNo Placeholders: If a field (like City, Budget, or Property_Type) is NOT mentioned, do NOT include that line in your output. Do not write \"Not Mentioned\" or \"N/A\".\n\nFormat: Each field must be on a NEW LINE.\n\nCity: [Value]\n\nBudget: [Value]\n\nProperty_Type: [Value]\n\nLead_Status: [Interested/Not Interested]\n\nLead Status: Always include Lead_Status. Set to \"Interested\" if they provide details or ask questions, and \"Not Interested\" if they refuse.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        432,
        -64
      ],
      "id": "20f78ac9-4bdb-4c61-bc91-3a3b7a2a861f",
      "name": "Ai_Extractor"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.snippet }}",
        "options": {
          "systemMessage": "=Role: You are a Senior Customer Success Agent for a professional Real Estate firm.\n\nContext: A lead has replied to our previous email. Your goal is to acknowledge their input, provide a helpful response, and keep the conversation moving forward.\n\nCustomer Message:\nInstructions:\n\nGreeting: Start with \"Dear \n\nContent: Be concise. Confirm receipt of details (budget/city) or answer questions professionally.\n\nTone: Helpful, sophisticated, and business-oriented.\n\nFormatting (STRICT): Use ONLY HTML tags: <p>, <br>, and <b>. Do NOT use Markdown code blocks.\n\nSignature: Always end with: Best regards,\n\n\n<b>Operations Team</b>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        80,
        -64
      ],
      "id": "236ac08d-728d-4ea2-81c4-829ee856b6fe",
      "name": "AI_Replyer"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI_Replyer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI_Replyer",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "clean_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI_Replyer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean_content": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Ai_Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ai_Extractor": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Replyer": {
      "main": [
        [
          {
            "node": "Ai_Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "01f82c2a-6975-4713-8119-1fc8da1954d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8ca2cfbc5d329b208d667b3c769bcda0d834955c2bd2bcb4b8f69f88ec4b92f"
  },
  "id": "5upgscwkAljzkf4g",
  "tags": []
}